<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>lmongol</title>
	<link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='css/template.css')}}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet"></head>
<body>
	<h1>{{error}}</h1>
	<!-- file -->
	<div class="files">
		{% for dir in dirs %}
			<div class="file">
				<a href="{{dir['link']}}" class="file-link" onclick="play()">
					<img width="19" src="/{{dir['image']}}">
					<span>{{dir["filename"]}}</span>
				</a>
				<div class="meta">
					<span>{{dir["file_size"]}}</span>
					<span>{{dir["date"]}}</span>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="content">
		{% block content %}
		{% endblock %}
	</div>

	<audio id="audio" src="static/media/folder.wav"></audio>
	<script src="static/js/template.js"></script>
</body>
</html>
